﻿@{
    ViewBag.Title = "Setting Menu";
    Layout = "~/Views/Shared/_LayoutShared.cshtml";
    ViewBag.WebClient = "Admin Page";
    ViewBag.WebClientSmall = "Setting Menu";
    ViewBag.pathParent = Url.Content("~").Substring(0, Url.Content("~").Length - 1);
}
<style>
    table.dataTable tbody td {
        word-break: break-word;
        vertical-align: top;
    }
</style>

<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <b>MANAGE MENU</b>
                        </h2>
                    </div>
                    <div class="body card-body">
                        <div class="table-responsive">
                            <table id="gv_Menu" class="table table-bordered table-striped"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<script type="text/javascript">
    var WEB_MENU_APLIKASI;
    var listAccess = [];
    var listParent = [];
    var listStatus = { "1": "Aktif", "0": "Non-Aktif" };

    function getlistAccess() {
        $.ajax({
            url: "../WebMenu/ReadRefferenceAccess",
            type: "POST",
            cache: false,
            contentType: 'application/json',
            success: function (response) {
                for (var i = 0; i < response.data.length; i++) {

                    listAccess[i] = response.data[i].user_role + " - " + response.data[i].description;
                }
            }
        });
    }

    function getListParent() {
        $.ajax({
            url: "../WebMenu/ReadWebMenuAplikasi",
            type: "POST",
            cache: false,
            contentType: 'application/json',
            success: function (response) {
                for (var i = 0; i < response.data.length; i++) {

                    listParent[i] = response.data[i].id_menu + " - " + response.data[i].nama_menu;
                }
            }
        });
    }

    $(document).ready(function () {
        getListParent();
        getlistAccess();
        var columnDefs = [
        {
            data: "id_menu",
            title: "ID MENU",
            type: "readonly"
        },
       {
           data: "parent_id",
           title: "PARENT ID",
           type: "select",
           required: true,
           options: listParent,
           render: function (data, type, row, meta) {
               if (data == null || row == null || row.parent_id == null) return null;
               return data;
           }
       },
        {
            data: "access_role",
            title: "ACCESS ROLE",
            type: "select",
            required: true,
            multiple: true,
            options: listAccess,
            select2: { width: "100%" },
            render: function (data, type, row, meta) {
                if (data == null || row == null || row.access_role == null) return null;
                return data;
            }
        },
       {
           data: "nama_menu",
           title: "MENU",
           type: "text",
           required: true
       },
        {
            data: "path_url",
            title: "PATH URL",
            type: "text"
        },
        {
            data: "is_active",
            title: "STATUS",
            type: "select",
            options: listStatus,
            render: function (data, type, row, meta) {
                if (row.is_active == "1") {
                    return "Aktif"
                } else {
                    return "Non-Aktif";
                }
            }
        }];

        // DataTable
        var tableMenu = $('#gv_Menu').DataTable({
            autoWidth: false,
            dom: "Bfrtip",
            processing: true,
            ajax: {
                url: "../WebMenu/ReadWebMenuAplikasi",
                contentType: "application/json",
                type: "POST",
                cache: false
            },
            columns: columnDefs,
            select: {
                style: "single"
            },
            responsive: true,
            lengthMenu: [[50], [50]],
            altEditor: true,
            buttons: [
                {
                    text: 'Add',
                    name: 'add'
                },
                {
                    extend: 'selected', // Bind to Selected row
                    text: 'Edit',
                    name: 'edit'        // do not change name
                },
                {
                    extend: 'selected', // Bind to Selected row
                    text: 'Delete',
                    name: 'delete'      // do not change name
                },
                {
                    text: 'Refresh',
                    name: 'refresh'      // do not change name
                },
            ],
            onAddRow: function (datatable, rowdata, success, error) {
                //console.log();
                var listSelectedAccess = rowdata.access_role.map(function (x) { return x[0] });
                
                for (var i = 0; i < listSelectedAccess.length; i++) {
                    for (var j = 0; j < listSelectedAccess.length - 1; j++) {
                        if (listSelectedAccess[j] < listSelectedAccess[j + 1]) {
                            var tmp = listSelectedAccess[j];
                            listSelectedAccess[j] = listSelectedAccess[j + 1];
                            listSelectedAccess[j + 1] = tmp;
                        }
                    }
                }

                var selectedAccess = "";
                for (var i = 0; i < listSelectedAccess.length; i++) {
                    selectedAccess = listSelectedAccess[i] + "," + selectedAccess;
                }
                WEB_MENU_APLIKASI = {
                    parent_id: rowdata.parent_id.split('-')[0].replace(' ', ''),
                    access_role: selectedAccess.slice(0, -1),
                    nama_menu: rowdata.nama_menu,
                    path_url: rowdata.path_url,
                    is_active: rowdata.is_active
                }

                $.ajax({
                    url: '../WebMenu/CreateWebMenuAplikasi',
                    data: JSON.stringify({
                        param: WEB_MENU_APLIKASI
                    }),
                    contentType: "application/json",
                    type: "POST",
                    cache: false,
                    success: function (response) {
                        if (response.status == 1) {
                            getListParent();
                            getlistAccess();
                            tableMenu.ajax.reload();
                            Swal.fire(
                               'Success!',
                               response.messages,
                               'success'
                             )
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: response.messages,
                            })
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        })
                    }
                })
            },
            onEditRow: function (datatable, rowdata, success, error) {
                var listSelectedAccess = rowdata.access_role.map(function (x) { return x[0] });

                for (var i = 0; i < listSelectedAccess.length; i++) {
                    for (var j = 0; j < listSelectedAccess.length - 1; j++) {
                        if (listSelectedAccess[j] < listSelectedAccess[j + 1]) {
                            var tmp = listSelectedAccess[j];
                            listSelectedAccess[j] = listSelectedAccess[j + 1];
                            listSelectedAccess[j + 1] = tmp;
                        }
                    }
                }

                var selectedAccess = "";
                for (var i = 0; i < listSelectedAccess.length; i++) {
                    selectedAccess = listSelectedAccess[i] + "," + selectedAccess;
                }
                WEB_MENU_APLIKASI = {
                    id_menu: rowdata.id_menu,
                    parent_id: rowdata.parent_id.split('-')[0].replace(' ', ''),
                    access_role: selectedAccess.slice(0, -1),
                    nama_menu: rowdata.nama_menu,
                    path_url: rowdata.path_url,
                    is_active: rowdata.is_active
                }

                $.ajax({
                    url: '../WebMenu/UpdateWebMenuAplikasi',
                    data: JSON.stringify({
                        param: WEB_MENU_APLIKASI
                    }),
                    contentType: "application/json",
                    type: "POST",
                    cache: false,
                    success: function (response) {
                        if (response.status == 1) {
                            getListParent();
                            getlistAccess();
                            tableMenu.ajax.reload();
                            Swal.fire(
                               'Success!',
                               response.messages,
                               'success'
                             )
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: response.messages,
                            })
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        })
                    }
                });
            },
            onDeleteRow: function (datatable, rowdata, success, error) {
                WEB_MENU_APLIKASI = {
                    id_menu: rowdata.id_menu
                }

                $.ajax({
                    url: '../WebMenu/DeleteWebMenuAplikasi',
                    data: JSON.stringify({
                        param: WEB_MENU_APLIKASI
                    }),
                    contentType: "application/json",
                    type: "POST",
                    cache: false,
                    success: function (response) {
                        if (response.status == 1) {
                            getListParent();
                            getlistAccess();
                            tableMenu.ajax.reload();
                            Swal.fire(
                            'Success!',
                            response.messages,
                            'success'
                          )
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: response.messages,
                            })
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        })
                    }
                });
            },
            order: [[1, 'asc']],
        });
    });
</script>
