﻿@{
    ViewBag.pathParent = Url.Content("~").Substring(0, Url.Content("~").Length - 1);
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta http-equiv="X-UA-Compatible" content="IE=9;FF=3;OtherUA=4;IE=edge" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>WEB CLIENT</title>
    <!-- Favicon-->
    <link rel="icon" href="@ViewBag.pathParent/wwwroot/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/fonts/google-font.css" rel="stylesheet" type="text/css">
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/fonts/google-font-icon.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/css/style.css" rel="stylesheet">
    <!-- Bootstrap Select Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- Bootstrap DatePicker Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/css/themes/all-themes.css" rel="stylesheet" />
    <style>
        .custom-title {
            margin: 0;
            text-shadow: 2px 2px 4px #000000;
        }
    </style>


    <!-- Jquery Core Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/node-waves/waves.js"></script>
    <!--Ellipsis Js-->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/js/ellipsis.js"></script>
    <!-- Custom Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/js/admin.js"></script>
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/js/pages/forms/basic-form-elements.js"></script>
    <!-- Demo Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/js/demo.js"></script>
    <!-- Autosize Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/autosize/autosize.js"></script>
    <!-- Moment Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <!-- -->SweetAlert2 Js -->
    <script src="@ViewBag.pathParent/wwwroot/sweetAlert2/sweetAlert2.js"></script>
</head>
<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <div class="overlay"></div>
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <h3 class="content-group-lg custom-title"><a class="navbar-brand" href="index.html">PORTAL - WEB CLIENT</a></h3>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="@ViewBag.pathParent/wwwroot/img/default-avatar.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">

                    @{
                        string nama = Session["full_name"] == null ? "Guest" : Convert.ToString(Session["full_name"]);
                        Session["welcome"] = nama;
                    }

                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SELAMAT DATANG!</div>
                    <div class="email"><b></b>@Session["welcome"]</b></div>
                    @*<div class="btn-group user-helper-dropdown">
                            <i class="glyphicon glyphicon-menu-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="@ViewBag.pathParent/Login/logout"><i class="glyphicon glyphicon-log-out"></i> | Sign Out</a></li>
                            </ul>
                        </div>*@
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                @Html.Raw(ViewBag.leftMenu)
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2021 <a href="javascript:void(0);">Denny Mahadira</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
                <li role="presentation"><a href="#skins" data-toggle="tab">SKINS</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active in active" id="settings">
                    <div class="demo-settings">
                        <ul class="setting-list">
                            <li>
                                <b><a href="@ViewBag.pathParent/Login/Logout"><i class="glyphicon glyphicon-log-out"></i> | Sign Out</a></b>
                            </li>
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="skins">
                    <ul class="demo-choose-skin">
                        <li data-theme="red" class="active">
                            <div class="red"></div>
                            <span>Red</span>
                        </li>
                        <li data-theme="pink">
                            <div class="pink"></div>
                            <span>Pink</span>
                        </li>
                        <li data-theme="purple">
                            <div class="purple"></div>
                            <span>Purple</span>
                        </li>
                        <li data-theme="deep-purple">
                            <div class="deep-purple"></div>
                            <span>Deep Purple</span>
                        </li>
                        <li data-theme="indigo">
                            <div class="indigo"></div>
                            <span>Indigo</span>
                        </li>
                        <li data-theme="blue">
                            <div class="blue"></div>
                            <span>Blue</span>
                        </li>
                        <li data-theme="light-blue">
                            <div class="light-blue"></div>
                            <span>Light Blue</span>
                        </li>
                        <li data-theme="cyan">
                            <div class="cyan"></div>
                            <span>Cyan</span>
                        </li>
                        <li data-theme="teal">
                            <div class="teal"></div>
                            <span>Teal</span>
                        </li>
                        <li data-theme="green">
                            <div class="green"></div>
                            <span>Green</span>
                        </li>
                        <li data-theme="light-green">
                            <div class="light-green"></div>
                            <span>Light Green</span>
                        </li>
                        <li data-theme="lime">
                            <div class="lime"></div>
                            <span>Lime</span>
                        </li>
                        <li data-theme="yellow">
                            <div class="yellow"></div>
                            <span>Yellow</span>
                        </li>
                        <li data-theme="amber">
                            <div class="amber"></div>
                            <span>Amber</span>
                        </li>
                        <li data-theme="orange">
                            <div class="orange"></div>
                            <span>Orange</span>
                        </li>
                        <li data-theme="deep-orange">
                            <div class="deep-orange"></div>
                            <span>Deep Orange</span>
                        </li>
                        <li data-theme="brown">
                            <div class="brown"></div>
                            <span>Brown</span>
                        </li>
                        <li data-theme="grey">
                            <div class="grey"></div>
                            <span>Grey</span>
                        </li>
                        <li data-theme="blue-grey">
                            <div class="blue-grey"></div>
                            <span>Blue Grey</span>
                        </li>
                        <li data-theme="black">
                            <div class="black"></div>
                            <span>Black</span>
                        </li>
                    </ul>
                </div>

            </div>
        </aside>
        <!-- #END# Right Sidebar -->
    </section>

    @RenderBody()

</body>
</html>
