﻿<!DOCTYPE html>
<html lang="en">
@{
    ViewBag.pathParent = Url.Content("~").Substring(0, Url.Content("~").Length - 1);
    Layout = null;
}
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Register</title>
    <!-- Favicon-->
    <link rel="icon" href="@ViewBag.pathParent/wwwroot/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Colorpicker Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <!-- Dropzone Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/dropzone/dropzone.css" rel="stylesheet">
    <!-- Multi Select Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/multi-select/css/multi-select.css" rel="stylesheet">
    <!-- Bootstrap Spinner Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet">
    <!-- Bootstrap Tagsinput Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
    <!-- Bootstrap Select Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- noUISlider Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/nouislider/nouislider.min.css" rel="stylesheet" />
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <!-- Bootstrap DatePicker Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/css/themes/all-themes.css" rel="stylesheet" />


    <style>
        .custom-title {
            text-shadow: 2px 2px 4px #000000;
        }

            .custom-title small {
                margin-top: 0;
            }
    </style>
</head>

<body class="login-page" style="background-image:url(@ViewBag.pathParent/wwwroot/img/wallpaper.jpg)">
    <div class="login-box">
        <div class="card">
            <div class="text-center bg-amber" style="padding:10px;">
                <h3 class="content-group-lg custom-title">REGISTER</h3>
                <h3 class="content-group-lg custom-title"><small class="display-block">WEB CLIENT</small></h3>
            </div>
            <div class="body">
                @if (Session["notice"] != null)
                {
                    <div class="row" style="padding:0 50px;">

                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Perhatian! </strong>
                            <strong>@Html.Raw(Session["notice"]) </strong>
                        </div>
                    </div>
                }
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" id="txtFirstName" class="form-control" name="txtFirstName" placeholder="First Name" required autofocus>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">person</i>
                    </span>
                    <div class="form-line">
                        <input type="text" id="txtLastName" class="form-control" name="txtLastName" placeholder="Last Name" required autofocus>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">email</i>
                    </span>
                    <div class="form-line">
                        <input type="email" id="txtEmail" class="form-control" name="txtEmail" placeholder="Email Address" required>
                    </div>
                </div>
                <div class="demo-masked-input">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">phone_iphone</i>
                        </span>
                        <div class="form-line">
                            <input type="text" id="txtPhoneNumber" class="form-control mobile-phone-number" name="txtPhoneNumber" placeholder="Phone Number">
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" id="txtPassword" class="form-control" name="txtPassword" minlength="6" placeholder="Password" required>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">lock</i>
                    </span>
                    <div class="form-line">
                        <input type="password" id="txtConfirmPassword" class="form-control" name="txtConfirmPassword" minlength="6" placeholder="Confirm Password" required>
                    </div>
                </div>

                <div class="input-group">
                    <div class="demo-radio-button">
                        <input name="rbGender" type="radio" id="rbMale" value="MALE" />
                        <label for="rbMale">Male</label>
                        <input name="rbGender" type="radio" id="rbFemale" value="FEMALE" />
                        <label for="rbFemale">Female</label>
                    </div>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">calendar_today</i>
                    </span>
                    <div class="form-line" id="bs_datepicker_container">
                        <input type="text" class="form-control" name="txtBirthDate" id="txtBirthDate" placeholder="Birth Date">
                    </div>
                </div>

                <div class="form-group">
                    <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">
                    <label for="terms">I read and agree to the <a href="javascript:void(0);">terms of usage</a>.</label>
                </div>

                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit" id="btnSubmit" name="btnSubmit" onclick="onSubmitClick()" disabled>SIGN UP</button>

                <div class="m-t-25 m-b--5 align-center">
                    <a href="@ViewBag.pathParent/Login">You already have a membership?</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Bootstrap Colorpicker Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <!-- Dropzone Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/dropzone/dropzone.js"></script>
    <!-- Input Mask Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
    <!-- Multi Select Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/multi-select/js/jquery.multi-select.js"></script>
    <!-- Jquery Spinner Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/jquery-spinner/js/jquery.spinner.js"></script>
    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <!-- Autosize Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/autosize/autosize.js"></script>
    <!-- Moment Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Bootstrap Datepicker Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/node-waves/waves.js"></script>
    <!-- Validation Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/jquery-validation/jquery.validate.js"></script>
    <!-- Custom Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/js/admin.js"></script>
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/js/pages/forms/basic-form-elements.js"></script>
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/js/pages/forms/advanced-form-elements.js"></script>
    <!-- Demo Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/js/demo.js"></script>
    <!--SweetAlert2 Js -->
    <script src="@ViewBag.pathParent/wwwroot/sweetAlert2/sweetAlert2.js"></script>

    <script>
        $("#terms").click(function () {
            if ($(this).is(':checked')) {
                $('#btnSubmit').prop('disabled', false);
            } else {
                $('#btnSubmit').prop('disabled', true);
            }
        });

        function onSubmitClick() {
            Swal.fire({
                title: '<strong>Confirmation</strong>',
                icon: 'info',
                html:
                  `Are you sure data you are input is correct?`,
                showCancelButton: true,
                focusConfirm: false,
                confirmButtonText:
                  'Yes',
                cancelButtonText:
                  'No',
            }).then((result) => {
                if (result.isConfirmed) {
                    var tbl_user = {
                        full_name: $("#txtFirstName").val() + " " + $("#txtLastName").val(),
                        email: $("#txtEmail").val(),
                        phone_number: $("#txtPhoneNumber").val(),
                        password: $("#txtPassword").val(),
                        confirm_password: $("#txtConfirmPassword").val(),
                        gender: $("input[name='rbGender']:checked").val(),
                        birth_date: $("#txtBirthDate").val(),
                    }

                    if (tbl_user.password != tbl_user.confirm_password) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: "Password Confirmation did not same!",
                        })
                    } else {
                        //var baseUrl = "http://localhost:5000/api/Register/RegisterUser"
                        var baseUrl = "../Register/RegisterUser"

                        $.ajax({
                            url: baseUrl,
                            data: JSON.stringify({
                                param: tbl_user
                            }),
                            //headers: {
                            //    'X-Requested-With': 'XMLHttpRequest'
                            //},
                            contentType: "application/json",
                            type: "POST",
                            cache: false,
                            success: function (response) {
                                if (response.status == 1) {
                                    Swal.fire({
                                        title: "Success!",
                                        text: response.messages,
                                        icon: "success"
                                    }).then(function() {
                                        window.location.href = "@ViewBag.pathParent/Login";
                                    });
                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: response.messages,
                                    })
                                }
                            },
                            error: function (error) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Something went wrong!',
                                })
                            }
                        })
                    }
                } else if (result.isDenied) {
                    Swal.fire('Changes are not saved', '', 'info')
                }
            })
        }
    </script>
</body>
</html>