﻿<!DOCTYPE html>
<html lang="en">
@{
    ViewBag.pathParent = Url.Content("~").Substring(0, Url.Content("~").Length - 1);
    Layout = null;
}
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Login</title>
    <!-- Favicon-->
    <link rel="icon" href="@ViewBag.pathParent/wwwroot/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/fonts/google-font.css" rel="stylesheet" type="text/css">
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/fonts/google-font-icon.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="@ViewBag.pathParent/wwwroot/adminBSB/css/style.css" rel="stylesheet">

    <style>
        body {
            background: url(@ViewBag.pathParent/ContectLayout/images/bg.jpg) no-repeat center center fixed;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .custom-title {
            text-shadow: 2px 2px 4px #000000;
        }

        .custom-title small {
            margin-top:0;
        }
    </style>
</head>

<body class="login-page" style="background-image:url(@ViewBag.pathParent/wwwroot/img/wallpaper.jpg)">
    <div class="login-box">
        <div class="card">
            <div class="text-center bg-amber" style="padding:20px;">
                <h3 class="content-group-lg custom-title">PORTAL</h3>
                <h3 class="content-group-lg custom-title"><small class="display-block">WEB CLIENT</small></h3>
            </div>
            <div class="body">
                <div class="panel panel-body login-form">
                    <div class="text-center">
                        <h3 class="content-group-lg">SIGN IN<small class="display-block"></small></h3>
                    </div>

                    @if (TempData["notice"] != null)
                    {
                        <div class="row" style="padding:0 50px;">

                            <div class="alert alert-danger">
                                <a class="close" data-dismiss="alert">×</a>
                                <strong>Perhatian! </strong> @Html.Raw(TempData["notice"])
                            </div>
                        </div>
                    }
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <div class="form-line">
                            <input id="txtEmail" type="text" class="form-control" name="email" placeholder="Email" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <div class="form-line">
                            <input id="txtPassword" type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-block bg-blue btn-block waves-effect" type="submit" id="btnSubmit" name="btnSubmit" onclick="onSubmitClick()">SIGN IN</button>
                        </div>
                    </div>

                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-6">
                            <a href="@ViewBag.pathParent/Register">Register Now!</a>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
                <div class="legal">
                    <div class="copyright">
                        &copy; 2021 <a href="javascript:void(0);">Denny Mahadira</a>.
                    </div>
                    <div class="version">
                        <b>Version: </b> 1.0.0
                    </div>
                </div>
                <!-- #Footer -->
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/node-waves/waves.js"></script>
    <!-- Validation Plugin Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/plugins/jquery-validation/jquery.validate.js"></script>
    <!-- Custom Js -->
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/js/admin.js"></script>
    <script src="@ViewBag.pathParent/wwwroot/adminBSB/js/pages/examples/sign-in.js"></script>    
    <!--SweetAlert2 Js -->
    <script src="@ViewBag.pathParent/wwwroot/sweetAlert2/sweetAlert2.js"></script>

    <script>

        function onSubmitClick() {
            var tbl_user = {
                email: $("#txtEmail").val(),
                password: $("#txtPassword").val(),
            }
            //var baseUrl = "http://localhost:5000/api/Login/CreateToken"
            var baseUrl = "../Login/SubmitLogin"

            $.ajax({
                url: baseUrl,
                data: JSON.stringify({
                    param: tbl_user
                }),
                //headers: {
                //    'X-Requested-With': 'XMLHttpRequest'
                //},
                contentType: "application/json",
                type: "POST",
                cache: false,
                success: function (response) {
                    if (response.status == 1) {
                        Swal.fire({
                            title: "Success!",
                            text: response.messages,
                            icon: "success"
                        }).then(function () {
                            window.location.href = "@ViewBag.pathParent/Home";
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: response.messages
                        })
                    }
                },
                error: function (error) {
                    console.log(error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    })
                }
            })
        }
    </script>
</body>
</html>