﻿@{
    ViewBag.Title = "Setting User";
    Layout = "~/Views/Shared/_LayoutShared.cshtml";
    ViewBag.WebClient = "Admin Page";
    ViewBag.WebClientSmall = "Setting User";
    ViewBag.pathParent = Url.Content("~").Substring(0, Url.Content("~").Length - 1);
}

<style>
    table.dataTable tbody td {
        word-break: break-word;
        vertical-align: top;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <b>MANAGE USER</b>
                        </h2>
                    </div>
                    <div class="body card-body">
                        <div class="table-responsive">
                            <table id="gv_user" class="table table-bordered table-striped"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>


<script type="text/javascript">
    var WEB_TBL_M_USER;
    var listRole = [];
    var listStatus = { "1": "Aktif", "0": "Non-Aktif" };

    function getListRole() {
        $.ajax({
            url: "../WebUser/ReadRefferenceRole",
            type: "POST",
            cache: false,
            contentType: 'application/json',
            success: function (response) {
                for (var i = 0; i < response.data.length; i++) {

                    listRole[i] = response.data[i].user_role + " - " + response.data[i].description;
                }
            }
        });
    }

    $(document).ready(function () {
        getListRole();
        var columnDefs = [
        {
            data: "id_user",
            title: "ID USER",
            type: "text",
            required: true,
            unique: true
        },
       {
           data: "nama_user",
           title: "NAMA LENGKAP",
           type: "text",
           required: true
       },
        {
            data: "password",
            title: "PASSWORD",
            type: "password",
            render: function (data, type, row, meta) {
                return "***********";
            }
        },
        {
            data: "role",
            title: "USER ROLE",
            type: "select",
            multiple: true,
            required: true,
            options: listRole,
            select2: { width: "100%" },
            render: function (data, type, row, meta) {
                if (data == null || row == null || row.role == null) return null;
                return data;
            }
        },
        {
            data: "is_active",
            title: "STATUS",
            type: "select",
            options: listStatus,
            render: function (data, type, row, meta) {
                if (row.is_active == "1") {
                    return "Aktif"
                } else {
                    return "Non-Aktif";
                }
            }
        }];

        // DataTable
        var table = $('#gv_user').DataTable({
            autoWidth: false,
            dom: "Bfrtip",
            processing: true,
            ajax: {
                url: "../WebUser/ReadWebUser",
                contentType: "application/json",
                type: "POST",
                cache: false
            },
            columns: columnDefs,
            select: {
                style: "single"
            },
            responsive: true,
            lengthMenu: [[100], [100]],
            altEditor: true,
            buttons: [
                {
                    text: 'Add',
                    name: 'add'
                },
                {
                    extend: 'selected', // Bind to Selected row
                    text: 'Edit',
                    name: 'edit'        // do not change name
                },
                {
                    extend: 'selected', // Bind to Selected row
                    text: 'Delete',
                    name: 'delete'      // do not change name
                },
                {
                    text: 'Refresh',
                    name: 'refresh'      // do not change name
                },
            ],
            onAddRow: function (datatable, rowdata, success, error) {
                var listSelectedRole = rowdata.role.map(function (x) { return x[0] });

                for (var i = 0; i < listSelectedRole.length; i++) {
                    for (var j = 0; j < listSelectedRole.length - 1; j++) {
                        if (listSelectedRole[j] < listSelectedRole[j + 1]) {
                            var tmp = listSelectedRole[j];
                            listSelectedRole[j] = listSelectedRole[j + 1];
                            listSelectedRole[j + 1] = tmp;
                        }
                    }
                }

                var selectedRole = "";
                for (var i = 0; i < listSelectedRole.length; i++) {
                    selectedRole = listSelectedRole[i] + "," + selectedRole;
                }

                WEB_TBL_M_USER = {
                    id_user: rowdata.id_user,
                    nama_user: rowdata.nama_user,
                    password: rowdata.password,
                    role: selectedRole.slice(0, -1),
                    is_active: rowdata.is_active
                }


                $.ajax({
                    url: '../WebUser/CreateWebUser',
                    data: JSON.stringify({
                        param: WEB_TBL_M_USER
                    }),
                    contentType: "application/json",
                    type: "POST",
                    cache: false,
                    success: function (response) {
                        if (response.status == 1) {
                            getListRole();
                            table.ajax.reload();
                            Swal.fire(
                               'Success!',
                               response.messages,
                               'success'
                             )
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: response.messages,
                            })
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        })
                    }
                })
            },
            onEditRow: function (datatable, rowdata, success, error) {
                var listSelectedRole = rowdata.role.map(function (x) { return x[0] });

                for (var i = 0; i < listSelectedRole.length; i++) {
                    for (var j = 0; j < listSelectedRole.length - 1; j++) {
                        if (listSelectedRole[j] < listSelectedRole[j + 1]) {
                            var tmp = listSelectedRole[j];
                            listSelectedRole[j] = listSelectedRole[j + 1];
                            listSelectedRole[j + 1] = tmp;
                        }
                    }
                }

                var selectedRole = "";
                for (var i = 0; i < listSelectedRole.length; i++) {
                    selectedRole = listSelectedRole[i] + "," + selectedRole;
                }
                WEB_TBL_M_USER = {
                    id_user: rowdata.id_user,
                    nama_user: rowdata.nama_user,
                    password: rowdata.password,
                    role: selectedRole.slice(0, -1),
                    is_active: rowdata.is_active
                }

                $.ajax({
                    url: '../WebUser/UpdateWebUser',
                    data: JSON.stringify({
                        param: WEB_TBL_M_USER
                    }),
                    contentType: "application/json",
                    type: "POST",
                    cache: false,
                    success: function (response) {
                        if (response.status == 1) {
                            getListRole();
                            table.ajax.reload();
                            Swal.fire(
                               'Success!',
                               response.messages,
                               'success'
                             )
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: response.messages,
                            })
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        })
                    }
                });
            },
            onDeleteRow: function (datatable, rowdata, success, error) {
                var listSelectedRole = rowdata.role.map(function (x) { return x[0] });

                for (var i = 0; i < listSelectedRole.length; i++) {
                    for (var j = 0; j < listSelectedRole.length - 1; j++) {
                        if (listSelectedRole[j] < listSelectedRole[j + 1]) {
                            var tmp = listSelectedRole[j];
                            listSelectedRole[j] = listSelectedRole[j + 1];
                            listSelectedRole[j + 1] = tmp;
                        }
                    }
                }

                var selectedRole = "";
                for (var i = 0; i < listSelectedRole.length; i++) {
                    selectedRole = listSelectedRole[i] + "," + selectedRole;
                }

                WEB_TBL_M_USER = {
                    id_user: rowdata.id_user,
                    nama_user: rowdata.nama_user,
                    password: rowdata.password,
                    role: selectedRole.slice(0, -1),
                    is_active: rowdata.is_active
                }

                $.ajax({
                    url: '../WebUser/DeleteWebUser',
                    data: JSON.stringify({
                        param: WEB_TBL_M_USER
                    }),
                    contentType: "application/json",
                    type: "POST",
                    cache: false,
                    success: function (response) {
                        if (response.status == 1) {
                            getListRole();
                            table.ajax.reload();
                            Swal.fire(
                                'Success!',
                                response.messages,
                                'success'
                              )
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: response.messages,
                            })
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        })
                    }
                });
            },
            order: [[1, 'asc']],
        });
    });
</script>